/* Reset */

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono light", sans-serif;
}

body {
  background: #f5f5f5;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(73, 73, 73, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

h1 svg {
  width: 30px;
}

.task-form {
  display: flex;
  margin-bottom: 1.25rem;
  gap: 0.25rem;
}

.task-form input {
  flex: 1;
  padding: 0.5rem 0.75rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.task-form button {
  background: #000;
  color: white;
  border: none;
  border-radius: 0.25rem;
  padding: 0 0.75rem;
  cursor: pointer;
  display: grid;
  place-items: center;
}

.task-form button svg {
  width: 1.25rem;
  height: 1.25rem;
}

.task-list {
  list-style: none;
}

.task-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.task-list li.completed span {
  text-decoration: line-through;
  color: #888;
}

.delete-btn {
  border: none;
  background-color: transparent;
}

.delete-btn svg {
  color: rgb(214, 0, 0);
  padding: 3px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
